.tuto{
    width: 100%;
    text-align: center;
}

.tuto h2 {
    margin: 8px 0 0 0;
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 16px;
    box-sizing: border-box;
}

.step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    text-align: center;
}

.step h3 {
    color: var(--claret);
}

.step p {
    font-size: 20px;
    height: 75px;
}

.arrow {
    display: flex;
    align-items: center;
}

.arrowLine {
    width: 72px;
    height: 8px;
    background-color: var(--claret);
}

.arrowHead {
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 32px solid var(--claret);
}

@media screen and (max-width: 950px) {
    .tuto h2 {
        font-size: 32px;
    }

    .step h3 {
        font-size: 24px;
    }

    .arrowLine {
        width: 60px;
        height: 6px;
        background-color: var(--claret);
    }

    .arrowHead {
        border-top: 14px solid transparent;
        border-bottom: 14px solid transparent;
        border-left: 28px solid var(--claret);
    }

}

@media screen and (max-width: 700px) {
    .tuto h2 {
        font-size: 24px;
    }

    .container {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 0 16px;
        box-sizing: border-box;
    }

    .step {
        width: 70%;
    }

    .step h3 {
        font-size: 20px;
    }

    .step p {
        font-size: 16px;
    }

    .arrow {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .arrowLine {
        width: 8px;
        height: 72px;
        background-color: var(--claret);
    }

    .arrowHead {
        border-right: 16px solid transparent;
        border-left: 16px solid transparent;
        border-top: 32px solid var(--claret);
    }

}